{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ToDo List App</title>
</head>
<body>
<h1>
    Hello
</h1>

{% if user_list %}
    <ul>
        {% for user in user_list %}
            <li><a href="/polls/{{ user.id }}/">{{ user.first_name}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users are found.</p>
{% endif %}
</body>
</html>