<h1>TODO LIST APP</h1>
<div class="row align-items-center mt-5">
    <div class="col">
    </div>
    <div class="col-10">
        <form action="add_todo/" method="post" class="row align-items-center">
            {% csrf_token %}
            <div class="col-9">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                <div class="input-group">
                    <input type="text" name="todo_text" class="form-control input-lg"
                           id="inlineFormInputGroupUsername"
                           placeholder="Enter new task...">
                </div>
            </div>

            <div class="col-3">
                <input class="form-control date" type="date" value="" id="due_on" name="due_on">
                <button type="submit" class="btn btn-dark add shadow-lg rounded">ADD</button>
            </div>
        </form>

    </div>
    <div class="col">
    </div>


</div>