body{
    /*color: snow !important;*/
    background-color: #F7B605 !important;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif !important;
}

.container.content {
    background-color: snow;
    width: 80%;
    height: 700px;
    margin-top: 100px;
    margin-bottom: 40px;
    border-radius: 5px;
}

h1 {
    font-weight: 600 !important;
}

.btn.btn-dark {
    background-color: #F7B605 !important;
    border-color: #F7B605 !important;
}

.btn.btn-outline-secondary {
    display: inline !important;
}

table.caption {
    /*padding: 0;*/
    height: 40px;
    border: 1px solid #909090 !important;
    border-radius: 10px;
}